@media (max-width: 670px) {
    .flex-list {
        flex-direction: column;
    }
    .flex-list li {
    margin: 50 auto;
    }
    .container {
        display: block;
    }

}

@media (max-width: 1000px) {
    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 50%;
    }
  }
